{% extends "base.html" %}


{% block content %}
  <h2>Login</h2>
  <form method="post">
      <div class="center">
          <div class="row">
          <div class="col-25">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success" type="submit">Login</button>
    </div></div></div>
  </form>
   <br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-success">Login with Google</a><br>
{% endblock %}