{% load static %}
<!DOCTYPE html>
<html lang="en"></html>
<head>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{% static 'ajax.js' %}"></script>    
<title>Moethy</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="shotcut icon" href="https://image.ibb.co/jQrMU9/diamond.png">
<link rel="stylesheet" type="text/css" href="{% static 'AppStory6/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- <body> -->
    <body style="background-image:url('https://image.ibb.co/mzzVNU/background.png')">
    <div class="header">
        <a href="#default" class="logo">Muthia Iftinah Parahita</a>
        <div class="header-right">
            <a href="https://storyempat.herokuapp.com/Story4/">Home</a>
          <a href="https://storyempat.herokuapp.com/Story4/about/" target="_blank">About</a>
          <a href="https://storyempat.herokuapp.com/Story4/registration/" target="_blank">Registration</a>
          <a href="https://storyempat.herokuapp.com/Story4/form/" target="_blank">Activity</a>
        </div>
      </div>
        <!-- tampilin data mahasiswa
        tampilin data teman
        form -->
        <div class="container"> <div class="row"> 
        <div class="col-md-8 col-lg-8"> 
        <h2> Mahasiswa Fasilkom</h2> 
        <div class="list-group"> 
        {% if mahasiswa_list %} 
        {% for mahasiswa in mahasiswa_list %} 
        <a class="list-group-item clearfix"> 
        {{ mahasiswa.nama }} ({{ mahasiswa.npm }}) 
        <span class="pull-right"> 
        <span class="btn btn-xs btn-default" onClick="addFriend('{{ mahasiswa.nama }}', '{{ mahasiswa.npm }}')"> Tambah sebagai teman </span> 
        </span> </a> 
        {% endfor %} 
        {% else %} 
        <div class="alert alert-danger text-center"> 
        <strong>Opps!</strong> Tidak ada mahasiswa </div> 
        {% endif %} 
        </div> </div> 
 

        <form id="add-friend" action="#"> 
        {% csrf_token %} 
        <label for="field_npm">npm</label> 
        <input id="field_npm" type="text" name="npm" class="form-control"/> 
        <label for="field_name">name</label> 
        <input id="field_name" type="text" name="name" class="form-control"/> 
        <button type="submit">Tambah</button>
        </form> </div> </div> </div>
    <br><br>

</body>

    <footer>
        <div class="navbar" id="myNavbar">
            <a href="#news">Hey thanks for coming</a>
          </div>
    </footer>
    <script>
        function myFunction() {
            var x = document.getElementById("myNavbar");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
        </script>
</html>

