{% load static %}
<!DOCTYPE html>
<html lang="en"></html>
<head>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{% static 'story10.js' %}"></script>    
<title>Moethy</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="shotcut icon" href="https://image.ibb.co/jQrMU9/diamond.png">
<link rel="stylesheet" type="text/css" href="{% static 'AppStory6/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body style="background-image:url('https://image.ibb.co/mzzVNU/background.png')">
    <div class="header">
        <a href="#default" class="logo">Muthia Iftinah Parahita</a>
        <div class="header-right">
            <a href="https://storyempat.herokuapp.com/Story4/">Home</a>
          <a href="https://storyempat.herokuapp.com/Story4/about/" target="_blank">About</a>
          <a href="https://storyempat.herokuapp.com/Story4/registration/" target="_blank">Registration</a>
          <a href="https://storyempat.herokuapp.com/Story4/form/" target="_blank">Activity</a>
        </div>
      </div>

        <div class="center">
            <div class="row">
                <div class="col-35">
                     <h2>    Hello, Subscriber!</h2>
        </div></div></div>

        <div id="msg_response"></div>  

        <form method='POST' id="id_form" onsubmit="return false;"> 
            <div class="center">
            <div class="row">
            <div class="col-35">
            {% csrf_token %}
            {{ add_form }}
            {% for data in subscriber_form %}
            <p>{{ data.label }} : {{ data }}</p>
            {% endfor %}
            <br><br>
        </div></div></div>
        <div  id="msg_validate"></div>

        <div>
            <input id="id_button" class="btn btn-info" type="Submit" value="Subscribe"  disabled onclick=regSubscriber()>
        </div>
        </form>
        
        <script type="text/Javascript" src="{% static 'story10.js' %}"></script>
</body>
    <footer>
        <div class="navbar" id="myNavbar">
            <a href="#news">Hey thanks for coming</a>
          </div>
    </footer>
</html>
