    .favLoc{
        margin-left: 5%;
        margin-bottom: 2%
    }

    .buttonLoveClicked{
        animation:blinkingText 0.8s infinite;
    }
    @keyframes blinkingText{
        0%{     color: darkcyan;    }
        49%{    color: transparent; }
        50%{    color: transparent; }
        99%{    color: darkcyan;  }
        100%{   color: darkcyan;    }
    } 