
body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size:cover;
    background-image:url('https://image.ibb.co/mzzVNU/background.png')
  }
  .navbar {
    overflow: hidden;
    background-color: #333;  
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .responsive {
    width: 100%;
    max-width: 350px;
    height: auto;
    padding-left: 45px;
}
  .navbar a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
    text-align: center;
  }
  
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }
  
  .navbar .icon {
    display: none;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label {
    padding-left: 25px;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-35 {
    float: left;
    width: 35%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }  
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
.active {
    background-color: whitesmoke;
    padding: 15px 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #00cccc;
    padding: 0px 10px;
    width:100%;
}

li {
    float: right;
    font-size: 25px;
    font-family:BreeSerif;
    font-weight: bold;
}
la{
    float: right;
    font-size: 25px;
    padding-right: 550px;
    line-height: 50px;
    color:darkslategrey;
    font-family:BreeSerif;
    font-weight: bold;
}
li a {
    display: block;
    color: #527a7a;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    height: 30px;
    width: 100$;    
}

li a:hover:not(.active) {
    background-color: whitesmoke;
}
img.kiri{
    float: left;
    margin: 35px;
    margin-top: 5px;
}
img.kanan{
    float: right;
    margin: 45px;
    margin-top: 1px;
}
textarea.form-control {
    height : 75px;
    bottom: 5px;
    padding-left: 115px;
    float: center;
    display: block;
    margin-left: 50 px;
    margin-right: auto;

} 
body{
        background-image:url('https://image.ibb.co/mzzVNU/background.png')
   }
  .main {
        background-image: url("https://preview.ibb.co/fFPXqA/9.png");   
    }
    .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 10px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: palevioletred;
    overflow: hidden;
    width: 50%;
}