{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://daneden.github.io/animate.css/animate.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>    
    <link rel="stylesheet" type="text/css" href="{% static 'AppStory6/favbookstyle.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
    //ketika tombol addfav diklik akan menambah counter dan mengubah tombol menjadi warna-warni
    $(document).on('click','.buttonStar',function(){
        $('#counterButton').val(parseInt($('#counterButton').val()) + 1 );
        $(this).toggleClass("buttonStarClicked");//bintang kejora
    });

    // Membuat json ke tabel dengan html
    $(document).ready(function() {

        $.ajax({
         //mengambil data
        url: "/AppStory6/dataJson/",
        success: function(data) {
        var event_data = "";
        //data item itu array yang nyimpen datajsonnya. volume info itu identitas dari bukunya yang udah ada di
        var dataBuku = data.items;
        for (var i = 0; i < dataBuku.length; i++) {
            event_data += '<tbody><tr id ="tableBook" class="ok"> ';
            event_data += "<td><img src='" + data.items[i].volumeInfo.imageLinks.thumbnail  + "'></td>";//volumeinfo sesuai di dataJson
            event_data += "<td>" + data.items[i].volumeInfo.title + "</td>";
            event_data += "<td>" + data.items[i].volumeInfo.authors + "</td>";
            event_data += "<td>" + data.items[i].volumeInfo.categories+ "</td>";
            event_data +=
            '<td align ="center"><a href="#" class="btn btn-default buttonStar" title="add fav"><i class="glyphicon glyphicon-star" ></></a></td>';
            event_data += "</tr></tbody>";
        }
        //menampilkan data dalam tabel
        $("#table_json").append(event_data);
        },
        error: function(d) {
        alert("404! Please wait until the File is Loaded.");
        }


    });
    });
</script>
</head>

<body>
    {% include 'base.html' %}
    <div id="load"></div>
    {% if user.is_authenticated %}
             <p class="display-4"style="color:darkcyan;"><font size="10">Selamat Datang, {{ user.username }}</font></p>
	  {% else %}
             <a class="lead" href="{% url 'login' %}">Log in</a>
    {% endif %}
    <a href='http://storyenammuthi.herokuapp.com/logout/'  class="btn btn-info">Logout</a><br>
    <h2 id ="titleBookList" ></h2><font size="8" style="color:darkcyan;"><center><b>BOOK LIST</b></center></font></h2>
      
    <p class = "favLoc" style="color:darkcyan;"><font size="5">Favourite Book: 
    <input id = "counterButton" class="btn btn-success btn-circle btn-xl" type="button" value="0">
    </font></p>

    <!-- let's start -->
    <div class="container" style="margin-top:20px;">
      <div class="row">
        <div id="user" class="col-md-12">
          <div class="panel panel-primary panel-table animated slideInDown">
            <div class="panel-body">
                  <table id ="table_json" class="table table-striped table-bordered">
                    <thead>
                        <tr style="background:darkcyan; color:whitesmoke">
                            <!-- header row -->
                           <th><center>Images</center></th>
                            <th><center>Name Book</center></th>
                            <th><center>Authors</center></th>
                            <th><center>Categories</center></th>
                            <th><center>Make Favorite</center></th>
                      </tr>
                    </thead>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
