{% extends "base.html" %}

{% block content %}
	{% if user.is_authenticated %}
             <p class="display-4">Selamat Datang, {{ user.username }}</p>
	{% else %}
             <a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock content %}