{% extends "layout.html" %}


{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
   <br>
  <p><strong>OR</strong></p>
  <button type="submit" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</button><br>
{% endblock %}