{% load static %}
<!DOCTYPE html>
<html lang="en"></html>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Moethy</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="shotcut icon" href="https://image.ibb.co/jQrMU9/diamond.png">
  <link rel="stylesheet" type="text/css" href="{% static 'AppStory6/themestyle.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    $(document).ready(function(){
        $(".ubahtema").click(function(){
            $(".isi").hide(0); 
            $(".panel").hide(0); 
            $("h1").css({"color": "black"});
            $("body").toggleClass("main");
            $(".logo").css({"color": "palevioletred"}); 
            $(".isi").show(1000);
            $(".accordion").show(1000);
        });
    });
  </script>
  <script>
        var myVar; 
        function myFunction() {
            myVar = setTimeout(showPage, 2000);
        } 
        function showPage() {
          document.getElementById("loader").style.display = "none";
          document.getElementById("myDiv").style.display = "block";
        }
        </script>
</head>

<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
    <div class="header">
        <a href="#default" class="logo">Muthia Iftinah Parahita</a>
        <div class="header-right">
            <a href="https://storyempat.herokuapp.com/Story4/">Home</a>
          <a href="https://storyempat.herokuapp.com/Story4/about/" target="_blank">About</a>
          <a href="https://storyempat.herokuapp.com/Story4/registration/" target="_blank">Registration</a>
          <a href="https://storyempat.herokuapp.com/Story4/form/" target="_blank">Activity</a>
          <button class='ubahtema'>Change Theme</button>
        </div>
      </div>
      <div class='isi'>
        <br><br>
        <img src="https://image.ibb.co/nxwMU9/profile.gif" width="320" height="300" class="responsive" align="left" ;/>
        <h1 style="font-family:Berkshire Swash;color:palevioletred;font-size:500%;text-align:center;"><b>Hello</b></h1>
        <h1 style="font-family:Berkshire Swash;color:palevioletred;font-size:500%;text-align:center;"><b>It's Moethy</b></h1>
        </div>
        <br><br><br><br><br>

        <center>
        <button class="accordion" style="font-family:Berkshire Swash;color:palevioletred;text-align:center;font-size:2vw;">Activity and Experience</button>
        <div class="panel">
          <p style="font-family:Arial, Helvetica, sans-serif;color:black;text-align:left;font-size:100%;font-weight: bold;">Undergraduate students in Faculty of Computer Science, University of Indonesia<br>
            Student in Indonesia Quran Foundation</p>
        </div>
        
        <button id="org" class="accordion test" style="font-family:Berkshire Swash;color:palevioletred;text-align:center;font-size:2vw;" onclick="function()">Organization and Committee</button>
        <div class="panel">
          <p style="font-family:Arial, Helvetica, sans-serif;color:black;text-align:left;font-size:100%;font-weight: bold;">Staff of Secretarial Division, BEM Fasilkom UI <br>
            Staff of Public Relation Division, FUKI Fasilkom UI</p>
        </div>
        
        <button class="accordion" style="font-family:Berkshire Swash;color:palevioletred;text-align:center;font-size:2vw;">Achievement</button>
        <div class="panel">
          <p style="font-family:Arial, Helvetica, sans-serif;color:black;text-align:left;font-size:100%;font-weight: bold;">Lulusan Terbaik SMP Daar El Salam 2014</p>
        </div>
    </center>
    <br><br>
</div>
<style>
        /* Center the loader */
        #loader {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 150px;
          height: 150px;
          margin: -75px 0 0 -75px;
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid blue;
          border-right: 16px solid green;
          border-bottom: 16px solid red;
          border-left: 16px solid pink;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }
        
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
        
        /* Add animation to "page content" */
        .animate-bottom {
          position: relative;
          -webkit-animation-name: animatebottom;
          -webkit-animation-duration: 1s;
          animation-name: animatebottom;
          animation-duration: 1s
        }
        
        @-webkit-keyframes animatebottom {
          from { bottom:-100px; opacity:0 } 
          to { bottom:0px; opacity:1 }
        }
        
        @keyframes animatebottom { 
          from{ bottom:-100px; opacity:0 } 
          to{ bottom:0; opacity:1 }
        }
        </style>
</body>

<script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
        </script>
</html>